model_config_list:{
  config:{
    name:"base",
    base_path:"/models/base",
    model_platform:"tensorflow"
  },
  config:{
    name:"carafe",
    base_path:"/models/carafe",
    model_platform:"tensorflow",
    model_version_policy {
      specific {
          versions: 1
          versions: 2
      }
    },
    version_labels {
      key: 'stable'
      value: 1
    },
    version_labels {
      key: 'canary'
      value: 2
    }
  },
  config:{
    name:"bw",
    base_path:"/models/bw",
    model_platform:"tensorflow",
    model_version_policy {
      all:{}
    }
  },
}